/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('/RENT/client/assets/login/b1.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Login Container */
  .login-container {
    background:transparent;
    border: 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
  }
  
  /* Heading */
  .login-container h2 {
    width: 50%;
    font-size: 33px;
    height: 45px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    background:transparent;
    border-radius: 10px;
    margin:0 auto;
     
  }
  
  /* Form Labels */
  form label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-size: 14px;
  }
  
  /* Inputs */
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Button */
  form button {
    width: 100%;
    padding: 10px;
    background-color: #0077cc;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #005fa3;
  }
  
  .password-link {
    text-align: right;
    margin-top: 10px;
    padding-bottom: 5%;
  }
  
  .password-link a {
    color: #007BFF; /* Bootstrap-like blue */
    text-decoration: none;
    font-size: 14px;
  }
  
  .password-link a:hover {
    text-decoration: underline;
  }
  
  
  .Register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .Register-link p {
    margin: 0;
    display: inline;
    color: #333;
  }
  
  .Register-link a {
    color: #007BFF; /* blue for register */
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .Register-link a:hover {
    text-decoration: underline;
  }


  