<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="stylesheet" href="/Rent/client/css/add-property.css"/>
</head>
<body>

  <!-- Navbar -->
  <div class="nav-bar">
    <div class="logobar">
      <div class="logo">
        <img src="/client/assets/add-property/ChatGPT Image Apr 24, 2025, 12_24_14 PM.png" alt="Company logo - H_RENT"/>
      </div>
      <p>H_RENT</p>
    </div>

    <div class="side">
      <div><a href="#">Home</a></div>
      <div><a href="#">Listings</a></div>
      <div><a href="#">Login/Signup</a></div>
    </div>
  </div>

  <!-- nav bar -->


  <!-- sub nav bar -->
  <div class="sub-bar">
    <p class="add-text"> House rental system</p>
  </div>
<!-- sub nav bar -->

<div class="add-property-container">
    <h2>Add Property</h2>
    <form class="property-form">
      <div class="form-grid">
        <!-- Left Column -->
        <div class="form-column">
          <label>Title</label>
          <input type="text" placeholder="Enter property title">
  
          <label>Description</label>
          <textarea rows="4" placeholder="Describe the property"></textarea>
  
          <label>Location</label>
          <input type="text" placeholder="Enter location">
  
          <label>Property Type</label>
          <select>
            <option>House</option>
            <option>Apartment</option>
            <option>Studio</option>
          </select>
        </div>
  
        <!-- Right Column -->
        <div class="form-column">
          <label>Amenities</label>
          <div class="checkbox-group">
            <label><input type="checkbox"> WiFi</label>
            <label><input type="checkbox"> Parking</label>
            <label><input type="checkbox"> AC</label>
          </div>
  
          <label>Upload Images</label>
          <div class="image-upload">
            <div class="img-box">img will be added here inside the div</div>
            <div class="img-box">img will be added here inside the div</div>
            <div class="img-box">img will be added here inside the div</div>
            <div class="img-box">img will be added here inside the div</div>
          </div>
        </div>
      </div>
  
      <div class="submit-wrap">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  

  </body>