<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <link rel="stylesheet" href="/Rent/client/css/Register.css"> <!-- Linking CSS file -->
</head>
<body>
    <div class="container">
        <h2>
            Register
        </h2>
        <form>
            <label for="username">Name</label>
            <input type="text" id="username" placeholder="Enter name">
            
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter Email">

            <label for="pass">Password</label>
            <input type="password" id="pass" placeholder="Enter password">

            <label for="Cpass">Confirm Password</label>
            <input type="password" id="Cpass" placeholder="Confirm Password">

            <label for="phone">Phone No</label>
            <input type="text" id="phone" placeholder="Enter Phone No(Optional)">

            <label for="role">Role</label>
            <select name="role" id="role">
                <option value="">Select role</option>
                <option value="owner">Owner</option>
                <option value="renter">Renter</option>
            </select>

            <button type="submit">Register</button>

        </form>
    </div>

</body>
</html>